<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Hi there, glad you found my site! I'm Bryan. I'm a mechanical engineer and software developer and I love working on projects
      that live in the intersection of the physical and computational worlds. My interests range from
      fluid dynamics and robotics to machine learning and numerical methods. The common denominator among
      all my projects is that I like to tackle difficult problems and develop high-performance solutions,
      learning everything I can along the way. Take a look at my <a href="{{ site.nav.main.projects }}">projects</a>,
      experience, and the many other ways I am growing as an engineer.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Connect</h3>
    {% include contact.html %}
  </div>  
</div>
