<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <p>
      <!-- Yevgeniy (Jim) Brikman loves programming, writing, speaking, traveling, and lifting heavy things. He does not
      love talking about himself in the 3rd person. He is the co-founder of
      <a href="{{ site.gruntwork_url }}?ref=ybrikman-home" target="_blank">Gruntwork</a>, a company that provides
      DevOps as a Service. He's also the author of two books published by O'Reilly Media:
      <em><a href="{{ site.hello_startup_url }}?ref=ybrikman-home" target="_blank">Hello, Startup</a></em>
      and
      <em><a href="{{ site.terraform_up_and_running_url }}?ref=ybrikman-home" target="_blank">Terraform: Up & Running</a></em>.
      Previously, he spent more than a decade building infrastructure and products that served hundreds of millions of users 
      while working as a software engineer at LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial. For more info, check 
      out his
      <a href="{{ site.nav.main.writing }}">writing</a>, 
      <a href="{{ site.nav.main.speaking }}">speaking</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>, and 
      <a href="{{ site.nav.main.photos }}">photos</a>. -->
      Hi there, glad you found my site! I'm Bryan. I'm a mechanical engineer and software developer and I love working on projects
      that live in the intersection of the physical and computational worlds. My interests range from
      fluid dynamics and robotics to machine learning and numerical methods. The common denominator among
      all my projects is that I like to tackle difficult problems, developing high-performance solutions
      and learning everything I can along the way. Take a look at my projects, experience, and the many other ways
      I am growing as an engineer.
    </p>    
    <h3 class="mb2">About me</h3>
    <p>
      I will write some more stuff here eventually. For now this is just a placeholder.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Connect</h3>
    {% include contact.html %}
  </div>  
</div>
