{% assign base_favicon_url = "/assets/img/icons/favicon" %}

<link rel="apple-touch-icon" sizes="57x57" href="{{ base_favicon_url }}/initials_57x57.jpg">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_favicon_url }}/initials_60x60.jpg">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_favicon_url }}/initials_72x72.jpg">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_favicon_url }}/initials_76x76.jpeg">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_favicon_url }}/initials_114x114.jpeg">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_favicon_url }}/initials_120x120.jpeg">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_favicon_url }}/initials_144x144.jpeg">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_favicon_url }}/initials_152x152.jpeg">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_favicon_url }}/initials_180x180.jpeg">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ base_favicon_url }}/initials_192x192.jpeg">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_favicon_url }}/initials_32x32.jpg">
<link rel="icon" type="image/png" sizes="96x96" href="{{ base_favicon_url }}/initials_96x96.jpg">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_favicon_url }}/initials_16x16.jpg">
<link rel="manifest" href="{{ base_favicon_url }}/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ base_favicon_url }}/initials_144x144.jpeg">
<meta name="theme-color" content="#ffffff">