.clear-both {
  clear: both;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.square-300 {
  width: 300px;
  height: 300px;
}

.max-height-120 {
  max-height: 120px;
}

.width-120 {
  width: 120px;
}